<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards based custom ruleset for your plugin">
    <description>Generally-applicable sniffs for WordPress plugins.</description>

    <!-- What to scan -->
    <file>.</file>
    <exclude-pattern>/\.backup/</exclude-pattern>
    <exclude-pattern>/\.dev-notes/</exclude-pattern>
    <exclude-pattern>/\.img-src/</exclude-pattern>
    <exclude-pattern>/assets/css/bootstrap.*</exclude-pattern>
    <exclude-pattern>/assets/fontawesome/</exclude-pattern>
    <exclude-pattern>/assets/img/</exclude-pattern>
    <exclude-pattern>/assets/js/bootstrap\..*</exclude-pattern>
    <exclude-pattern>/gulpfile.js/</exclude-pattern>
    <exclude-pattern>/tests/</exclude-pattern>
    <exclude-pattern>/node_modules/</exclude-pattern>
    <exclude-pattern>/vendor/</exclude-pattern>

    <!-- How to scan -->
    <!-- Usage instructions: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->
    <!-- Annotated ruleset: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
    <arg value="sp"/> <!-- Show sniff and progress -->
    <arg name="basepath" value="./"/><!-- Strip the file paths down to the relevant bit -->
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="8"/><!-- Enables parallel processing when available for faster results. -->

    <ini name="memory_limit" value="64M"/>

    <!-- Rules: Check PHP version compatibility -->
    <!-- https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
    <config name="testVersion" value="7.0-"/>
    <!-- https://github.com/PHPCompatibility/PHPCompatibilityWP -->
    <rule ref="PHPCompatibilityWP"/>

    <!-- Rules: WordPress Coding Standards -->
    <!-- https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards -->
    <!-- https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties -->
    <config name="minimum_supported_wp_version" value="7.0"/>
    <!--<rule ref="WordPress">
        <exclude name="xxx"></exclude>
    </rule>-->
    <rule ref="WordPress.WP.I18n">
        <properties>
            <!-- Value: replace the text domain used. -->
            <property name="text_domain" type="array" value="rd-cookie-notice"/>
        </properties>
        <exclude name="WordPress.WP.I18n.MissingArgDomain"></exclude><!-- re-enable if you want to use __(string, domain) -->
        <exclude name="WordPress.WP.I18n.MissingTranslatorsComment"></exclude><!-- re-enable if you want to use translation comment -->
        <exclude name="WordPress.WP.I18n.NonSingularStringLiteralText"></exclude>
    </rule>
</ruleset>
